.div-home {
	text-align: center;
	size: 20dpi;
	border: 10px;
	color: blueviolet;
}

.button-home {
	size: 10dpi;
	color: blue;
}

.h2-app {
	background: cornflowerblue;
	text-align: center;
	color: darkblue;
}

.header-table {
	background-color: rgb(216, 234, 252);
	font-size: 30;

	font-style: normal;
}
